.calculator {
  width: 400px;
  margin: 50px auto;
}

.calculator .buttons button {
  float: left;
  width: 100px;
  height: 100px;
  background-color: slateblue;
  color: white;
  border: 1px solid white;
  font-size: 25px;
}
.answerCont {
  background-color: lightgrey;
  height: 25px;
  width: 100%;
  font-size: 25px;
  padding: 25px 0;
  text-align: right;
}

#answer {
  padding-right: 20px;
  color: slateblue;
}

#negative {
  float: left;
  margin: 8px;
}
